body {
    background-image: url("bg.jpg");
}
#calc-contain{
  position: relative;
  width: 100px;
  border: 2px solid black;
  border-radius: 12px;
  margin: 0px auto;
  padding: 20px 20px 100px 20px;
}
#agh{
  position: relative;
  float: right;
  margin-top: 15px;
}
#agh p{
  font-size: 10px;
  font-weight: 600;
}
input[type=button] {
  background: violet;
  width: 20%;
  font-size: 20px;
  font-weight: 900;
  border-radius: 7px;
  margin-left: 13px;
  margin-top: 10px;
}
input[type=button]:active {
  background-color: skyblue;
  box-shadow: 0 3px #666;
  transform: translateY(4px);
}
input[type=button]:hover {
  background-color: gray;
  color: white;
}

input[type = text] {
  position: relative;
  display: block;
  width: 90%;
  margin: 5px auto;
  font-size: 20px;
  padding: 10px;
  box-shadow: 4px 0px 12px black inset;
}